<?xml version="1.0"?>
<model>
  <name>payload</name>
  <version>1.0</version>
  <sdf version='1.4'>payload4amu.sdf</sdf>

  <author>
   <name>Swon</name>
   <email>wilson@mail.ustc.edu.cn</email>
  </author>

  <description>
    This is a payload model for IMAV cooperative UAVs.
  </description>
</model>
