<?xml version="1.0"?>
<launch>
        <!-- MAVROS configs -->
        <arg name="fcu_url" default="/dev/ttyUSB0:921600"/>
        <arg name="respawn_mavros" default="false"/>
    <!-- MAVROS -->
    <group ns="iris_0">
        <include file="$(find mavros)/launch/px4.launch">
            <!-- GCS link is provided by SITL -->
            <arg name="gcs_url" value=""/>
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
        </include>
    </group>

</launch>